*.old


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
argumentation/argumentation/crowd_convincingness/__init__.py
*/*/__init__.py
argumentation/results/auc_roc.eps
argumentation/results/b3_fsum_alldata.eps
argumentation/results/b5_fsum_alldata.eps
argumentation/results/b6_pref_histogram_alldata.eps
argumentation/results/b6_pref_scatter_alldata.eps
argumentation/results/b8_pref_pair_var_alldata.eps
argumentation/results/b9_pref_means_alldata.eps
argumentation/results/cross_entropy.eps
argumentation/results/d5_fmeank_nfactors_3.eps
argumentation/results/d7_obsprefk_nfactors_3.eps
argumentation/results/dpgmm_membership_nfactors_3.eps
argumentation/results/dpgmm_probs_individual_nfactors_3.eps
argumentation/results/dpgmm_probs_pairs_nfactors_3.eps
argumentation/results/f1scores.eps
argumentation/results/factors_individual_nfactors_3.eps
argumentation/results/factors_pairs_nfactors_3.eps
argumentation/results/f_values.eps
argumentation/results/IAA.png
argumentation/outputdata/a3_model_gponly_alldata.pkl
argumentation/outputdata/all_labels_original.csv
argumentation/outputdata/b1_fsum_alldata.pkl
argumentation/outputdata/c1_model_gpfa_nfactors_100_0.pkl
argumentation/outputdata/c1_model_gpfa_nfactors_10_0.pkl
argumentation/outputdata/c1_model_gpfa_nfactors_3_0.pkl
argumentation/outputdata/c1_model_gpfa_nfactors_3_1.pkl
argumentation/outputdata/c1_model_gpfa_nfactors_5_0.pkl
argumentation/outputdata/c1_model_gpfa_nfactors_5_1.pkl
argumentation/outputdata/c1_model_gponly_nfactors_100_0.pkl
argumentation/outputdata/c1_model_gponly_nfactors_3_0.pkl
argumentation/outputdata/c1_model_gponly_nfactors_3_1.pkl
argumentation/outputdata/c3_model_base_nfactors_100_0.pkl
argumentation/outputdata/c3_model_base_nfactors_10_0.pkl
argumentation/outputdata/c3_model_base_nfactors_3_0.pkl
argumentation/outputdata/c3_model_base_nfactors_3_1.pkl
argumentation/outputdata/c3_model_base_nfactors_5_0.pkl
argumentation/outputdata/c3_model_base_nfactors_5_1.pkl
argumentation/outputdata/fmean_var_alldata.pkl
argumentation/outputdata/fsum.pkl
argumentation/outputdata/model_fonly.pkl
argumentation/outputdata/model.pkl
argumentation/outputdata/results_debugging_svi.txt
argumentation/outputdata/results_debugging_svi.txt~
outputdata/*.eps
/setup.py
documents/acl2016.tex~
documents/bayesian_annotator_combination.bbl~
documents/bayesian_annotator_combination.tex~
documents/convincingness_analysis.tex~
documents/convincingness_analysis.blg
documents/convincingness_analysis.bbl
documents/acl2016_finalcopy.pdf
documents/acl2016_submission.pdf
documents/convincingness_analysis.pdf
documents/convincingness_analysis.synctex.gz
documents/acl2016.bst
documents/acl2016.bib
documents/sections/discussion.tex~
documents/sections/experiments.tex~
documents/sections/intro.tex~
documents/sections/method.tex~
results/old_stuff/*
results/*
outputdata/*.pkl
/.DS_Store
